[Unit]
Description=Issues camera commands based on gunshot events.
Wants=network-online.target
Requires=mosquitto.service
After=network-online.target mosquitto.service

[Service]
SyslogIdentifier=camera
User=pi
Group=pi
WorkingDirectory=/home/pi

Type=simple
ExecStart=/usr/bin/python3 /home/pi/camera_service.py
Restart=always
RestartSec=5
