[Unit]
Description=Connects to the gunshot detector to read events and issue detector commands.
Wants=network-online.target
Requires=mosquitto.service
After=network-online.target mosquitto.service

[Service]
Type=simple

User=pi
Group=pi
WorkingDirectory=/home/pi

ExecStart=/usr/bin/python3 /home/pi/detector_service.py

Restart=always
RestartSec=5