[Unit]
Description=Gunshot detector %I service.
Wants=network-online.target
Requires=mosquitto.service
After=network-online.target mosquitto.service

[Service]
SyslogIdentifier=%i
User=pi
Group=pi
WorkingDirectory=/home/pi

Type=simple
ExecStart=/usr/bin/python3 /home/pi/%i_service.py
Restart=always
RestartSec=5
RestartPreventExitStatus=6

[Install]
WantedBy=gunshot.target