[Unit]
Description=Gunshot detector network configuration service.
Wants=network-online.target
After=network-online.target

[Service]
SyslogIdentifier=network_config
User=pi
Group=pi
WorkingDirectory=/home/pi

Type=oneshot
ExecStart=/usr/bin/python3 /home/pi/network_config_service.py

[Install]
WantedBy=gunshot.target