[Unit]
Description=Handles inbound connections from SenseIT clients (such as the calibration tool).
Wants=network-online.target
Requires=mosquitto.service
After=network-online.target mosquitto.service

[Service]
SyslogIdentifier=senseit_client
User=pi
Group=pi
WorkingDirectory=/home/pi

Type=simple
ExecStart=/usr/bin/python3 /home/pi/senseit_client_service.py
Restart=always
RestartSec=5

[Install]
WantedBy=gunshot.target