Package: gunshot-proxy
Version: 1.0.1
Section: base
Priority: optional
Architecture: all
Depends: python3,
 python3-pip, python3-lxml, python3-scapy, python3-yaml,
 mosquitto,
 nginx, php, php-yaml, php-fpm
Maintainer: Anson Mansfield <amansfield@mantaro.com>
Description: Gunshot Proxy
 Services and configuration for proxying Safety Dynamics 
 gunshot detector packets, and sending camera commands 
 based on that data.
