[Unit]
Description=Gunshot detector network configuration service.
Wants=network-online.target
After=network-online.target

[Service]
SyslogIdentifier=network_config
User=gunshot
Group=gunshot
WorkingDirectory=/opt/gunshot

Type=oneshot
ExecStart=/usr/bin/python3 /opt/gunshot/network_config_service.py

[Install]
WantedBy=gunshot.target