[Unit]
Description=Gunshot detector %I service.
Wants=network-online.target
Requires=mosquitto.service
After=network-online.target mosquitto.service

[Service]
SyslogIdentifier=%i
User=gunshot
Group=gunshot
WorkingDirectory=/opt/gunshot

Type=simple
ExecStart=/usr/bin/python3 /opt/gunshot/%i_service.py
Restart=always
RestartSec=5
RestartPreventExitStatus=6

[Install]
WantedBy=gunshot.target