Package: gunshot-proxy
Version: 1.3.3
Section: base
Priority: optional
Architecture: all
Depends: python3,
 python3-pip, python3-lxml, python3-scapy, python3-yaml,
 mosquitto,
 nginx-light, 
 php7.4 | php7.3,
 php7.4-yaml | php7.3-yaml,
 php7.4-fpm | php7.3-fpm
Conflicts: apache2
Maintainer: Anson Mansfield <amansfield@mantaro.com>
Description: Gunshot Proxy
 Services and configuration for proxying Safety Dynamics 
 gunshot detector packets, and sending camera commands 
 based on that data.
